---
import {Image} from 'astro:assets';
import example1 from '../assets/examples/kstd-example_ecommerce-product-view_v0.3.1.svg';
import example2 from '../assets/examples/kstd-example_user-booking-flight-status-notifications_v0.1.1.svg';

const examples = [
    { img: '/assets/examples/kstd-example_ecommerce-product-view_v0.3.1.svg', alt: "'Kafka Streams Topology Design' diagram of an eCommerce example app, producing a full-context 'product view', both as avro and json" },
    { img: '/assets/examples/kstd-example_user-booking-flight-status-notifications_v0.1.2.svg', alt: "'Kafka Streams Topology Design' diagram of an app processing 'User Flight Booking Status Update Notifications'" },
];
---

<div class="swiper-container">
    <div class="swiper main">
        <div class="swiper-wrapper images-zoomable">
            {examples.map(example =>
              <div class="swiper-slide [&>img]:w-full [&>img]:object-contain [&>img]:rounded-lg">
                  <img src={example.img} alt={example.alt}/>
              </div>
            )}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<script>
    import Swiper from 'swiper';
    import {Navigation, Autoplay, Pagination} from 'swiper/modules';

    document.addEventListener('DOMContentLoaded', function () {
        new Swiper('.swiper', {
            modules: [Navigation, Autoplay, Pagination],
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 3500,
                disableOnInteraction: true,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>

<style>
    .swiper-container {
        position: relative;
        //height: 600px;
        width: 100%;
    }

    .swiper.main {
        width: 100%;
        height: 100%;
    }

    .swiper.thumbs {
        width: 100%;
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    .swiper-button-prev, .swiper-button-next {
        margin-top: -22px !important;
        color: var(--sl-color-text-accent);
        /* margin-top: calc(0px -(var(--swiper-navigation-size) / 2)) !important; */
    }
</style>
