---
interface Props {
  classAppend?: string;
}

const { classAppend = "" } = Astro.props;
---

<div class:list={[`kstd-two-cols !mt-0 grid grid-cols-1 min-[800px]:grid-cols-2 min-[1118px]:grid-cols-3 gap-4 md:gap-6 lg:gap-8`].concat(classAppend.split(/\s+/))}><slot /></div>


